body{
    margin:0;
    font-family:'Poppins', sans-serif;
    background:#fff8dc;
    text-align:center;
}

.page{
    display:none;
    padding:40px;
}

.active{
    display:block;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    max-width:400px;
    margin:auto;
}

input{
    padding:10px;
    margin:10px;
    width:80%;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    margin:10px;
    font-size:16px;
    background:#f4c430;
}

button:hover{
    background:#ffcc00;
}

/* 2x2 grid */
.gallery{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-top:20px;
}

.photo{
    background:white;
    padding:100px;
    border-radius:50px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.photo img{
    width:100%;
    border-radius:10px;
}

/* IMPORTANT FIX FOR PAGE 4 */
#page4{
    display:none;
}

#page4.active{
    display:flex;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    height:100vh;
    color:white;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.final-img{
    width:250px;
    border-radius:20px;
    margin:20px 0;
}

#noBtn{
    position:relative;
}